<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <div class="logo-header">
            <h3>LOGO</h3>
        </div>
        <div class="content-header">
            <div class="navigation-header">
                <a href="/">HOME</a>
                <a href="/">WORK</a>
                <a href="/">CONTACT</a>
                <a href="/">ABOUT ME</a>
            </div>
            <div class="action-header">
                <a href="/">SIGN UP</a>
                <a href="login">LOGIN</a>
            </div>
        </div>
    </header>

    <section>
        <section class="section-one">
            <h1>PLAY TRADITIONAL GAME</h1>
            <h2>Experience new traditional game play</h2>
            <div class="play-now">
                <a href="game">PLAY NOW</a>
            </div>
            <div class="the-story">
                <p>THE STORY</p>
                <img src="img/scroll-down.svg">
            </div>
        </section>
        <section id="section-two">
            <div class="section-two-wrapper">
                <div class="special">
                    <div>What's So Special ?</div>
                    <h1>THE GAMES</h1>
                </div>
                <div class="mySlides-fade">
                    <div>
                        <img src="img/rockpaperstrategy-1600.jpg" width="100%">
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>

                </div>
            </div>
            <section id="section-three">
                <div class="special-two">
                    <div>What's So Special ?</div>
                    <h1>THE FEATURES</h1>
                    <div class="game-choice">
                        <div class="active">
                            <h4>TRADITIONAL GAMES</h4>
                            <p>if you miss your childhood, we provide many traditional games here</p>
                        </div>
                        <div>
                            <h4>GAME SUIT</h4>
                        </div>
                        <div>
                            <h4>TBD</h4>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-four">
                <div class="header-sr">
                    <h1>SYSTEM <br /> REQUIREMENTS</h1>
                    <div class="content-sr">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <h4>OS</h4>
                                    <div>Windows 7 64bit only (no OSX support at this time)</div>
                                </td>
                                <td>
                                    <h4>PROCESSOR</h4>
                                    <div>Intel Core 2 Duo @ 2.4 GHZ or AMD ATHLON X2 @ 2.8GHZ</div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h4>MEMORY</h4>
                                    <div>4 GB RAM</div>
                                </td>
                                <td>
                                    <h4>STORAGE</h4>
                                    <div>8 GB available space</div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h4>GRAPHICS</h4>
                                    <div>Nvidia Geforce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader
                                        Model 5)
                                </td>


                            </tr>
                        </table>

                    </div>
                </div>
            </section>
            <section>
                <section id="section-five">
                    <div class="header-ts">
                        <h1>TOP SCORES</h1>
                        <p>This top score from various games provided <br> on this platform</p>
                        <div>see more</div>
                    </div>
                    <div class="comments">
                        <div>
                            <div class="comments-header">
                                <img src="img/evan-lahti.jpg">
                                <div>
                                    <h4>Evan Lahti</h4>
                                    <h6>PC Gamer</h6>
                                </div>
                            </div>
                            <p>"One of my gaming highlights of the year"</p>
                            <footer>October 18, 2018</footer>
                            <img class="twitter" src="img/twitter-card.png">
                        </div>
                        <div>
                            <div class="comments-header">
                                <img src="img/jada-griffin.jpg">
                                <div>
                                    <h4>Jada Griffin</h4>
                                    <h6>Moderator</h6>
                                </div>
                            </div>
                            <p>"The next big thing in the world of streaming and survival games"</p>
                            <footer>December 21, 2018</footer>
                            <img class="twitter" src="img/twitter-card.png">
                        </div>
                        <div>
                            <div class="comments-header">
                                <img src="img/aaron-williams.jpg">
                                <div>
                                    <h4>Aaron Williams</h4>
                                    <h6>Uproxx</h6>
                                </div>
                            </div>
                            <p>"Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculous"</p>
                            <footer>December 24, 2018</footer>
                            <img class="twitter" src="img/twitter-card.png">
                        </div>
                    </div>
                </section>
            </section>

            <footer class="byebye">

                <p>website by: davidtaruna :)</p>
            </footer>
</body>

</html>